In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API ley.
from config import g_key

In [2]:
# Store the CSV you saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-09-15 15:44:55,42.6001,-73.9662,83.32,79,66,1.01
1,1,Arraial Do Cabo,BR,2021-09-15 15:46:56,-22.9661,-42.0278,82.36,69,0,4.61
2,2,Cidreira,BR,2021-09-15 15:46:57,-30.1811,-50.2056,61.86,48,0,11.12
3,3,Mindyak,RU,2021-09-15 15:46:57,54.0231,58.7891,52.95,91,88,11.90
4,4,Termoli,IT,2021-09-15 15:46:57,41.9888,14.9895,79.92,49,100,6.96

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Resize
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 80

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Termoli,IT,2021-09-15 15:46:57,41.9888,14.9895,79.92,49,100,6.96
7,7,Rikitea,PF,2021-09-15 15:45:52,-23.1203,-134.9692,73.60,72,50,16.35
8,8,Vaini,TO,2021-09-15 15:46:59,-21.2000,-175.2000,73.56,100,20,4.61
12,12,Karratha,AU,2021-09-15 15:47:00,-20.7377,116.8463,70.03,58,5,14.16
15,15,Saint-Philippe,RE,2021-09-15 15:47:01,-21.3585,55.7679,71.19,84,52,12.50
16,16,Castro,BR,2021-09-15 15:44:09,-24.7911,-50.0119,68.31,87,99,4.21
20,20,Souillac,MU,2021-09-15 15:47:03,-20.5167,57.5167,70.18,88,40,3.44
21,21,Takoradi,GH,2021-09-15 15:47:03,4.8845,-1.7554,77.18,85,100,10.18
27,27,Arawa,PG,2021-09-15 15:47:06,-6.2132,155.5367,74.73,87,100,3.60
32,32,Tsogni,GA,2021-09-15 15:47:07,-2.7942,10.0988,77.29,82,92,8.46

In [39]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64