## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Bima,ID,76.57,overcast clouds,-8.4667,118.7167,Lambitu Hotel
1,1,Takoradi,GH,80.74,broken clouds,4.8845,-1.7554,Raybow International Hotel
2,9,Atuona,PF,77.14,clear sky,-9.8000,-139.0333,Villa Enata
3,15,Rikitea,PF,72.77,light rain,-23.1203,-134.9692,People ThankYou
4,17,Faanui,PF,78.30,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...,...
214,670,Teloes,PT,78.57,clear sky,41.3105,-8.1110,Casa do Lago
215,672,Luzhou,CN,69.71,light rain,28.8724,105.4405,Shijichun Hotel
216,673,Macae,BR,76.75,broken clouds,-22.3708,-41.7869,Personal Hotel
217,675,Muros,ES,76.84,clear sky,42.7762,-9.0603,Apartment Av. Castelao
218,680,Kisangani,CD,77.56,overcast clouds,0.5167,25.2000,Grand Ramela Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mandla"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mandla"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kawardha"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Mahishadal"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Ilam"]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
100,326,Mandla,IN,73.18,overcast clouds,22.6,80.3833,Bison Resort

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

start = start.tolist()[0]
end = end.tolist()[0]
stop1 = stop1.tolist()[0]
stop2 = stop2.tolist()[0]
stop3 = stop3.tolist()[0]

start

[22.6, 80.3833]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
mandla_to_mandla = gmaps.directions_layer(start, end,
        waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')
fig.add_layer(mandla_to_mandla)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,326,Mandla,IN,73.18,overcast clouds,22.6000,80.3833,Bison Resort
1,326,Mandla,IN,73.18,overcast clouds,22.6000,80.3833,Bison Resort
2,618,Kawardha,IN,73.45,overcast clouds,22.0167,81.2500,STARiHOTELS Raipur Road kawardha
3,581,Mahishadal,IN,80.56,broken clouds,22.1833,87.9833,Mishra machinery
4,407,Ilam,NP,70.18,overcast clouds,26.9167,87.9167,चियाबारी कटेज

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 85.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))